{% extends 'base.html' %}

{% block title %}Booking {{ booking.booking_id }}{% endblock %}

{% block styles %}
<style>
    td, th{
        border: 1px solid #000000;
        text-align: left;
        padding: 6px;
    }
</style>
{% endblock %}

{% block content %}
    <p><a href="{% url 'bookings_list' %}">Return to list of bookings</a></p>

    <h1>Flight Booking</h1>
    {% if not booking.pending %}
        <p><a href="{% url 'bookings_update' booking.booking_id %}">Pay for this booking</a></p>
    {% endif %}

    Last Updated: {{ booking.booking_date }}<br/>
    Passenger: {{ booking.passenger.last_name }}, {{ booking.passenger.first_name }} {{ booking.passenger.middle_initial }}.<br/>
    Birth Date: {{ booking.passenger.birth_date }}<br/>
    Gender: {{ booking.passenger.gender }}<br/>

    <h3>Trip Itinerary</h3>

    <table>
        <tr>
            <th>Flight</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Departure</th>
            <th>Arrival</th>
            <th>Duration</th>
        </tr>
        {% for itinerary in booking.items %}
            <tr>
                <td>{{ itinerary.flight.flight_num }}</td>
                <td>{{ itinerary.flight.route.origin }}</td>
                <td>{{ itinerary.flight.route.destination }}</td>
                <td>{{ itinerary.flight.departure }}</td>
                <td>{{ itinerary.flight.arrival }}</td>
                <td>{{ itinerary.flight.route.duration }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}