{% extends 'base.html' %}

{% block title %}Booking {{ booking.booking_id }}{% endblock %}

{% block styles %}
<style>
    td, th{
        border: 1px solid #000000;
        text-align: left;
        padding: 6px;
    }
</style>
{% endblock %}

{% block content %}
    <h1>Flight Booking {{ booking.booking_id }}</h1>
    

    {% if booking.paid %}
        Booked on: {{ booking.booking_date }}<br/>
    {% endif %}
    
    <h3>Passenger</h3>

    <div class="card rounded-4 p-4">
    <h4>{{ booking.passenger.first_name }} {{ booking.passenger.middle_initial }}. {{ booking.passenger.last_name }}</h4>
    Birth Date: {{ booking.passenger.birth_date }}<br/>
    Gender: {{ booking.passenger.gender }}<br/>

    </div>
    

    <h3>Trip Itinerary</h3>

    <table class=" table table-striped table-no-border">
        <tr>
            <th>Duration</th>
            <th>Flight</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Cost</th>
        </tr>
        {% for itinerary in itineraries %}
            <tr>
                <td>{{ itinerary.flight.route.duration }}</td>
                <td>{{ itinerary.flight.flight_num }}</td>
                <td>
                    {{ itinerary.flight.route.origin }} <br>
                    {{ itinerary.flight.departure }}
                </td>
                <td>
                    {{ itinerary.flight.route.destination }} <br>
                    {{ itinerary.flight.arrival }}
                </td>
                <td>
                    {{ itinerary.flight.flight_cost}}
                </td>
            </tr>
        {% endfor %}
    </table>
    <div class="justify-content-end">
        <a class="btn btn-outline-primary" href="{% url 'bookings:bookings_list' %}">Return to list of bookings</a>

        {% if not booking.paid %}
            <a class="btn btn-primary" href="{% url 'bookings:bookings_update' booking.booking_id %}">Pay for this booking</a>
        {% endif %}
    </div>

{% endblock %}