{% extends 'base.html' %}

{% block title %}My Bookings{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ booking_form }}
        <button type="submit">Create New Booking</button>
    </form>
    <h1>My Bookings</h1>
    <ul>
        {% for booking in bookings %}
            <li><a href='{{ booking.get_absolute_url }}'>Booking {{ booking_id }}</a></li>
        {% empty %}
            <p>You have not created any bookings.</p>
        {% endfor %}
    </ul>
{% endblock %}