{% extends 'base.html' %}

{% block title %}Booking {{ booking.booking_id }} Payment{% endblock %}

{% block content %}
<div class="container shadow-lg rounded-4 w-75 mx-auto mb-4 g-5 p-5">
    
    <div class=""><h4>Confirm payment for:</h4></div>
    <form method="post">
        {% csrf_token %}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-6 text-start">Booking {{ booking.booking_id }}</div>
                <div class="col-3 offset-3 text-end ">{{ booking.total_cost }}</div>
            </div>

            <div class="row align-items-end py-3">
                <div class="">{{ form.as_p }}</div>
                <div >
                    <button type="submit" class="btn btn-primary">Confirm</button>
                </div>
            </div>
        </div>
        
    </form>
</div>
{% endblock %}