{% extends 'base.html' %}

{% block title %} Flights {% endblock %}

{% block content %}
    <form method="GET" action="" >
        <p>Origin: </p><input type="search" name="origin"> 
        <p>Desitnation: </p><input type="search" name="destination"> 
        <p>Date Minimum: </p><input type="date" name="date_min"> 
        <p>Date Maximum: </p><input type="date" name="date_max"> 
        <br><br>
        <button type="submit"> Search </button>
    </form>
    {% for result in results %}
        <p> {{result}} - Leaving {{result.departure}}</p>
        {% if user.is_authenticated %}
            <form method="POST" action="" >
                {% csrf_token %}
                <input type="hidden" name="flight" value={{result.flight_num}}>
                <label>Book to:</label>
                <select name="booking">
                    {% for booking in pending_bookings %}
                        <option value ={{booking.booking_id}}>{{booking}}</option>
                    {% endfor %}
                </select>
                {% if booking %}
                {% else %}
                <p> No current pending bookings</p>
                {% endif %}
                <button type="submit"> Book </button>
            </form>
        {% endif %}
    {% empty %}
        {% if searched %}
            <p>nothing sad face</p>
        {% endif %}
    {% endfor %}
    <hr>
    <p>All Flights</p>
    <l>
    {% for flight in flights %}
        <p> {{flight}} - Leaving {{flight.departure}}</p>
    {% endfor %}
    </l>

{% endblock %}