{% extends 'base.html' %}

{% block title %} MagisAir Home {% endblock %}

{% block content %}
    <h1>MagisAir Home</h1>
    <ul>
        <li><a href="{% url 'bookings:flights' %}">View All Flights</a></li>
        <li><a href="{% url 'bookings:bookings_list' %}">View Bookings</a></li>
        <li><a href="{% url 'bookings:user_flights' %}">User History</a></li>
        {% if not user.is_authenticated %}
        <li><a href="/profile/login/">Profile Login</a></li>
        {% endif %}
    </ul>
{% endblock %}
